Package: slothcalc
Source: slothcalc
Section: math
Priority: optional
Maintainer: S_POSTERS team
Architecture: all
Version: 1.0
Depends: libxcb-xinerama0
Description: Cool calculator GUI app by S_POSTERS team
