Package: slothcalc
Section: math
Priority: optional
Maintainer: S_Posters team
Priority: optional
Architecture: all
Version: 1.0
Depends: libxcb-xinerama0
Description: S_POSTERS test description dude
